<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div class="flex-container">
    <div class="content-container">
        <div class="title">
            <h1>PDF Checker</h1>
        </div>
        <form class="form-container" id="upload-form" action="/check-pdf" method="post" enctype="multipart/form-data">

            <div  class="p-text">
                <p>Vælg den fil du vil tjekke om er anonym!</p>
            </div>

            <div  class="input-container">
                <input type="file" id="file-input" name="file">
            </div>

            <p id="status-message" style="color: red">Filen er IKKE gemt korrekt</p>
            <p id="status-message1" style="color: red">Filen skal gemmes som billede i Foxit Reader</p>

            <button class="btn" id="submit-button" type="submit">Check Fil</button>
        </form>
    </div>
</div>
</body>
</html>